section {
  &.aboutus-header {
    padding-bottom: 0px;
    margin-top: 80px;
  }

  &.branchandmap-wrapper {
    background: transparent linear-gradient(180deg, rgba(249, 249, 249, 0.15) 0%, #F3F3F3 100%) 0% 0% no-repeat padding-box;
    ;
    padding-top: 30px;
    padding-bottom: 20px;

    .allbrandandwrap {
      position: relative;

      .barnch-wrap {
        position: relative;
        padding: 10px;

        .tab-wrap {

          @media screen and (min-width: 992px) {
            display: flex;
            min-height: auto;
          }

          .branchmap {
            width: 100%;
            margin-bottom: 20px;

            @media screen and (min-width: 992px) {
              width: 50%;
            }

            @media screen and (min-width: 1440px) {
              width: 60%;
            }
          }

          .branchtext {
            width: 100%;
            margin-top: 0px;
            @media screen and (min-width: 992px) {
              position: absolute;
              width: 50%;
              margin-top: 30px;
            }

            @media screen and (min-width: 1440px) {
              width: 50%;
              right: 0;

            }

            right: 0;
            top: 100px;
            h5{
              &.title{
                margin-bottom: 15px;
              }
            }
            p{
              line-height: 30px;
            }
          }
        }
      }

      .tabheader {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        position: absolute;

        ul {
          &#myTab {
            flex-direction: column;
            z-index: 1;
            background-color: $white;
            border: 1px solid transparent;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
            position: absolute;

            @media screen and (min-width: 992px) {
              flex-direction: initial;
              width: 50%;
              position: initial;
            }

            li {
              transition: $transition;
              @media screen and (min-width: 992px) {
                width: 25%;
                a{
                  padding-left: 0;
                  padding-right: 0;
                }
              }

              &:hover {
                a {
                  position: relative;
                  img {
                    transform: scale(1.1);
                  }
                }
              }

              a {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: none;
                border: 0;

                img {
                  transform: scale(1);
                  transition: $transition;
                  
                }

                @media screen and (max-width:991px) {
                  &.active {
                    &:after {
                      content: "";
                      background-color: $primary-color;
                      width: 3px;
                      height: 40px;
                      position: absolute;
                      top: -1px;
                      bottom: 0;
                      margin: auto 0;
                      left: 0;
                    }
                  }

                }

                .flag {
                  width: 20px;
                  margin-bottom: 0px;
                  margin-top:0;
                  @media screen and (min-width: 425px) {
                    width: 35px;
                  }
                  @media screen and (min-width: 992px){
                    margin-top: 10px;
                    margin-bottom: 15px;
                  }
                }

                span {
                  display: none;

                  @media screen and (min-width: 992px) {
                    display: block;
                    font-size: 14px;
                    font-weight: 600;
                  }

                  color: $text-color;

                }

                &.active {
                  img {
                    transform: scale(1.1);
                  }
                  span {

                    &:after {
                      content: "";
                      background-color: $primary-color;
                      width: 60px;
                      height: 3px;
                      position: absolute;
                      top: 0;
                      left: 0;
                      right: 0;
                      margin: 0 auto;
                    }
                  }
                }
              }

            }
          }

        }
      }


    }
  }
}