.custom-card {
  img {
    transform: translateX(0px);
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-color;
    z-index: -1;
    transition: all .5s ease-in-out;
    transform: translate3d(-5px, -10px, 0);
  }

  @media screen and (min-width: 768px) {
    img {
      transform: translateX(0);
    }

    transform: translateX(0);
    position: relative;
    transition: all .5s ease-in-out;
    cursor: pointer;

    &:after {
      transform: translate3d(-20px, -20px, 0);
    }

    &:hover {
      transform: translate3d(-10px, -10px, 0);

      &:after {
        transform: translate3d(-10px, -10px, 0);
      }
    }

    &.reverse-card {
      &:after {
        transform: translate3d(20px, -20px, 0);
      }

      &:hover {
        transform: translate3d(10px, -10px, 0);

        &:after {
          transform: translate3d(10px, -10px, 0);
        }
      }
    }
  }
}

//service card
.card {
  &.service-card {
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.02), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    transition: all .6s ease-in-out;;
    height: 100%;
    &:after {
      content: '';
      width: 165px;
      height: 165px;
      background: $primary-color;
      border-radius: 50%;
      position: absolute;
      top: -46px;
      left: -46px;
      z-index: 0;
      transition: all .6s ease-in-out;
    }

    img {
      z-index: 1;
    }

    &:hover {
      transform: translate3d(0, -10px, 0);
      &:after {
        width: 180px;
        height: 180px;
      }

      .service-title {
        h4 {
          color: $primary-color;
        }
      }
    }
  }

  .service-title {
    padding: 16px;

    h4 {
      margin-bottom: 0;
      transition: $transition;
    }
  }
}