section {
  &.contactus {
    background: rgba(239, 239, 239, .39);
    margin-top: 80px;
    .sub-header {
      margin-bottom: 20px;
    }

    .contact-form {
      flex-direction: column-reverse;

      @media screen and (min-width: 768px) {
        flex-direction: initial;
      }

      .contact-from {
        label {
          font-weight: 600;
        }
      }

      .page-title {
        padding-bottom: 15px;
        border-bottom: 1px solid $text-color;
        margin-bottom: 20px;
      }

      .visit-us.wrapper {
        margin-bottom: 20px;

        @media screen and (min-width: 768px) {
          margin-bottom: 0;
        }
        a{
          color:#333;
          &:hover{
            text-decoration: none;
          }
        }

        .contact-map {
          iframe {
            width: 100%;
            height: 350px;

            @media screen and (min-width: 768px) {
              height: 400px;
            }

            @media screen and (min-width: 992px) {
              height: 450px;
            }

          }
        }

        .contact-detail {
          border: 1px solid transparent;
          background-color: #F3F3F3;
          padding: 16px;
          margin-top: 25px;

          @media screen and (min-width: 768px) {
            margin-top: 100px;
          }

          // @media screen and (min-width: 992px) {

          // }

          @media screen and (min-width: 992px) {
            margin-top: 50px;
          }

          .title {
            margin-bottom: 10px;
          }

          .detail-wrap {
            padding-bottom: 10px;
            display: flex;

            img {
              width: 15px;
              margin-right: 15px;
            }

            a {
              text-decoration: none;
              color: $text-color;
              font-weight: 400;
              transition: $transition;

              &:hover {
                color: $secondary-color;
              }
            }

          }
        }
      }

    }


  }
  &.contactus-banner{
    margin-top:75px;
    .firstsec-slider{
      .slick-list{
        .first-sec{
          .firstsec-img{
            .slide-desc-wrap{
              height: 20%;
              padding:0px;
              bottom:2px;
              @media screen and (min-width:768px){
                padding: 10px;
                // bottom:5px;
              }
              @media screen and (min-width:992px){
                padding: 17px;
                // bottom:6px;
              }
              @media screen and (min-width:1200px){
                height: 15%;
              }
              &.you-tube-slide{
                height:15%!important;
                bottom: 105px!important;
                padding:6px;
                @media screen and (min-width:768px){
                  bottom: -11px!important;
                }
              }
              
              .slide-desc{
                display: flex;
                justify-content: center;
                align-items: flex-end;
                h2{
                  font-size: 14px;
                  @media screen and (min-width:768px){
                    font-size: 24px;
                  }
                }
              }
            }
          }
        }
      }
      .slick-next{
        top: 50%;
        right: 3%;
        
        &::before{
          display: none;
        }
        
      }
      .slick-prev{
        top: 50%;
        left: 3%;
        
        &::before{
          display: none;
        }
        
      }
    }
    &.banner-video{
      height: 230px;
      @media screen and (min-width:768px){
        height: auto;
      }
      .firstsec-slider{
        .slick-list{
          .first-sec{
            .firstsec-img{
              position: relative;
              height: 300px;
              @media screen and (min-width:768px){
                height: 300px;
              }

              @media screen and (min-width:768px){
                height: 500px;
              }
              iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 50%;
              }
              @media screen and (min-width:768px){
                iframe{
                  height: 87%;
                }
              }
              .slide-desc-wrap{
                height: 20%;
                bottom: 90px;
                @media screen and (min-width:768px){
                  height: 17%;
                  bottom:-20px;
                  padding: 21px 5px 55px 5px;
                }
                .slide-desc{
                  @media screen and (min-width:768px){
                    align-items: baseline;
                  }
                }
                
              }
            }
          }
        }
        
      }  
    }
  }
}