footer {
  &.footer {
    margin-top: -15px;
    background: $secondary-color;
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @media screen and (min-width: 992px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    img {
      width: 16px;
      height: auto;

      &.footer-logo {
        width: 100px;
        height: auto;
      }
    }

    span {
      display: inline-block;
      position: absolute;
      top: 35px;
      left: 20px;
      letter-spacing: 6px;
      color: $footer-txt;

    }

    .footer-border {
      position: relative;
      height: 100%;
      display: block;
      &.last {
        &:after {
          display: none;
        }
      }

      &.third-col {
        &:after {
          right: -20px;
        }
      }

      &:after {
        @media screen and (min-width: 1200px) {
          content: '';
          width: 1px;
          height: 100%;
          min-height: 175px;
          background: $primary-color;
          position: absolute;
          right: -15px;
          top: 0;
        }
      }

      .footer-contact-wrap {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 15px;

        .footer-contact {
          a {
            margin-left: 10px;
            display: block;
            text-decoration: none;
            color: $footer-txt;
            margin-bottom: 0;
            transition: $transition;

            &:hover {
              color: $primary-color;
            }
          }

          p {
            margin-left: 10px;
            color: $footer-txt;
            margin-bottom: 0;

            &.copy-right-txt {
              margin-left: 0;

              a {
                color: $white;
                display: inline;

                &:hover {
                  color: $primary-color;
                }
              }

              @media screen and (min-width: 1200px) {
                margin-left: 10px;
              }
            }

          }

          br {
            display: none;

            @media screen and (min-width: 1200px) {
              display: block;
            }
          }
        }
      }
      
    }
  }
}