body {
  .img.flag{
    display: flex;
    justify-content: flex-end;
    transform: translateX(-135px);
    margin-left: 0px;
    display: none!important;
    li{
      a.active{
        span{
          color: #FFCC00;
        }
      }
    }
    
    @media screen and (min-width:1200px){
      display: flex!important;
    }
    &.key-word{
      opacity: 0;
      margin-bottom: 20px;
    }
    
    
  }

  .header-nav-wrap{
    .header-menu-wrap{
      .menu-ul{
        .mb-servies-menu{
          display: none;
        }
      }  
    }
  }

  &.open-menu {
    height: 100vh;
    overflow: hidden;
    .img.flag{
      display: flex;
      
    }
    .header-nav-wrap{
      .header-menu-wrap{
        .menu-ul{
          .dropdown{
            display: none;
          }
          .mb-servies-menu{
            display: block;
            .sidenav {
              height: 100%;
              width: 0;
              position: fixed;
              z-index: 1;
              top: 0;
              left: 0;
              background-color: #111;
              overflow-x: hidden;
              transition: 0.5s;
              padding-top: 60px;
              
              
            }
            .closebtn {
              position: absolute;
              top: 0;
              right: 25px;
              font-size: 36px;
              margin-left: 50px;
            }
          }
          
        }  
      }
    }
  }
  
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  padding: 15px 0;
  height: auto;
  transition: $transition;

  .copy-right {
    display: none;
  }

  &:not(.header-scrolled),
  &:not(.nav-active) {
    nav {
      &.header-nav {
        .header-nav-wrap {
          .menu-ul {
            display: none;
            
            width:100%;
            @media screen and (min-width:768px){
              width:100%;
            }

            @media screen and (min-width: 992px) {
              display: flex;
              justify-content: flex-end;
              
              
            }
          }
          ///-----------------------
          .header-feature-img{
            display: none;
            margin-top: 50px;
            @media screen and (min-width:768px){
              width:70%;
            }
            
            
          }
        }
      }
    }
  }

  .menu-ul {
    display: none;

    @media screen and (min-width: 992px) {
      display: block;
    }

    li {
      a {
        font-family: 'Barlow', sans-serif;
      }
    }
  }
  .header-feature-img{
    margin-top: 50px;
  }

  

  &.header-scrolled {
    background: rgba($secondary-color, .6);
    .img.flag{
      opacity: 0;
    }

    &:not(.nav-active) {
      nav {
        &.header-nav {
          ul {
            &.menu-ul {
              li {
                display: none;
              }
          
            }
          }
        }
      }
    }

    &.nav-active {
      .img.flag{
        display: flex!important;
        
        transform: translate(0px ,10px);
        li{
          a{
            img{
              opacity: 1;
            }

          }
        }

      }
      nav {
        &.header-nav {
          height: 100%;
          // for dropdown use it 
          .header-nav-wrap {
            display: block;
            height: 100%;

            ul {
              &.menu-ul {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: left;
                margin-top: 50px;

                li {
                  text-align: left;
                  margin-bottom: 2em;

                  a {
                    @media screen and (min-width: 1200px) {
                      font-size: 24px;
                    }

                    @media screen and (min-width: 1366px) {
                      font-size: 30px;
                    }
                  }
                }
              }
              //-- no
            }

            .menu-btn {
              position: absolute;
              top: 0;
              right: 0;
              // for dropdown use it .......
              &.open {
                opacity: 1 !important;
                
              }
            }
          }
        }
      }
    }
  }

  &.nav-active {
    z-index: 99999;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0.92) 50%, rgba(0, 0, 0, 0.88) 100%);

    .container,
    .row,
    [class*="col-12"] {
      height: 100%;
    }

    .copy-right {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      bottom: 1em;
      left: 0;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;

      p {
        margin-bottom: 0;
        color: rgba($white, .4);

        a {
          text-decoration: none;
          color: rgba($white, .4);
          transition: $transition;

          &:hover {
            color: $white;
          }
        }
      }
    }
  }

  &.mb-header {
    background: 0;

    &.header-scrolled {
      background: rgba(0, 0, 0, .8);
    }

    &.nav-active {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0.92) 50%, rgba(0, 0, 0, 0.88) 100%);

      .header-nav {
        height: 100%;

        .header-nav-wrap {
          display: block;
          height: 100%;

          .menu-ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 40px;
            // height: 100%;
            width: 100%;
            @media screen and (min-width:768px){
              width: 30%;
            }

            li {
              text-align: center;
              margin-bottom: 2em;
              @media screen and (min-width:768px){
                text-align: left;
              }
              a {
                font-size: 18px;
                display: flex;
                justify-content: space-between;

              }
            }
          }
          // .header-feature-img{
          //   margin-top: 50px;
          // }no
          .header-feature-img{
            width: 100%;
            @media screen and (min-width:768px){
              width: 70%;
            }
          }

          .menu-btn {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }

    nav {
      &.header-nav {
        .header-nav-wrap {
          .menu-btn {
            opacity: 1 !important;
          }
        }
      }
    }

    .copy-right {
      .copy-right-txt {
        span {
          display: block;
        }
      }
    }
  }

  nav {
    &.header-nav {
      .header-nav-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .menu-btn {
          opacity: 0;
        }

        ul {
          list-style: none;
          display: flex;
          margin-bottom: 0;
          padding-left: 0;

          &.img-ul {
            li {
              margin: 0;
            }
          }
          &.img.flag{
            margin-left: 0px;
            li{
              margin: 0;
              margin-left: 10px;
              img{
                width: 25px;
                @media screen and (min-width: 992px){
                  width: 30px;
                }
              }
            }
          }

          li {
            animation-name: fadeInDown;
            animation-duration: .5s;
            animation-fill-mode: both;

            img {
              max-width: 120px;
              height: auto;
            }

            &.active {
              a {
                color: $primary-color;
              }
            }

            margin: 0 10px;

            a {
              color: $white;
              text-decoration: none;
              transition: $transition;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }

    }
  }

  // burger menu
  .menu-btn {
    width: 35px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out;

    .menu-icon {
      width: 35px;
      height: 3px;
      background: $white;
      border-radius: 5px;
      transition: all .2s ease-in-out;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 35px;
        height: 3px;
        background: $primary-color;
        border-radius: 5px;
        transition: all .2s ease-in-out;
      }

      &:before {
        transform: translateY(-10px);
      }

      &:after {
        transform: translateY(10px);
      }
    }

    &.open {
    
      .menu-icon {
        transform: translateX(-50px);
        background: transparent;

        &:before {
          transform: rotate(45deg) translate(35px, -35px);
          background: $primary-color;
        }

        &:after {
          transform: rotate(-45deg) translate(35px, 35px);
          background: $primary-color;
        }
      }
    }
  }

  &.other-header {
    box-shadow: $box-shadow;

    &.header-scrolled {
      background: rgba(255, 255, 255, .95);
    }

    nav {
      &.header-nav {
        .header-nav-wrap {
          ul {
            li {
              a {
                color: $secondary-color;
                font-weight: 600;

                &:hover {
                  color: $primary-color;
                }
              }

              &.active {
                a {
                  color: $primary-color;
                }
              }
            }
          }
          
          .menu-btn {
            .menu-icon {
              background: $secondary-color;

              &:before,
              &:after {
                background: $primary-color;
                box-shadow: 0 1px 3px 0px rgba(0, 0, 0, .32);
              }
            }
          }
        }
      }
    }

    &.nav-active {
      background: rgba(0, 0, 0, 0.95);

      nav {
        &.header-nav {
          .header-nav-wrap {
            ul {
              li {
                
                @media screen and (min-width:768px){
                  text-align: left!important;
                }
                a {
                  color: $white;
                  font-weight: 600;

                  &:hover {
                    color: $primary-color;
                  }
                }

                &.active {
                  a {
                    color: $primary-color;
                  }
                }
              }
            }
            .header-feature-img{
              display: none;
              @media screen and (min-width:768px){
                display: flex;
              }
              
              .feature-col{
                padding-right: 0px;
                margin-bottom: 13px;
                
              }
            }

            .menu-btn {
              .menu-icon {
                background: $primary-color;

                &:before,
                &:after {
                  background: $primary-color;
                }
              }

              &.open {
                .menu-icon {
                  background: transparent;
                }
              }
            }
          }
        }
      }
    }

    // modified 9.9.2020 
    .header-menu-wrap{
      justify-content: center;
      display: flex;
      
      @media screen and (min-width:768px)
      {
        justify-content: space-between;
      }  
      ul.menu-ul{
        width: 100%;
        @media screen and (min-width:768px){
          width: 30%;
        }
        
        
      }
      .header-feature-img{
        margin-top: 50px;
        height: calc(100vh - 170px);
        overflow-x: hidden;
        overflow-y: scroll;
        display: none;
        &::-webkit-scrollbar { 
          display: none;
        }
        .row{
          display: none;
          @media screen and (min-width:768px){
            display: flex;
            height: 189px;
          }
        }
        .feature-col{
          margin-bottom: 30px;
          .feature-img{
            position: relative;
            overflow: hidden;
        
            img{
              &:hover{
                transform: scale(1.5);
              }
            }
            .caption{
              position: absolute;
              top: 0px;
              background: #3f3f3f73;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: end;
              align-items: flex-end;
              transition: all .8s ease;
              &:hover{
                background: #1f1e1eab;
                transition: all .8s ease;
                p{
                  padding-left: 20px;
                  transition: all .8s ease;
                  color:#FFCC00;
                }
                
              }
              p{
                padding:10px;
                margin-bottom: 0px;
                color:#FFF;
                transition: all .8s ease;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
    .dropdown{
      .dropdown-toggle{
        transform: translateY(-7px);
        position: relative;
        
        
        i{
          position: absolute;
          top: 4px;
          right: 3px;
        }
        &::after{
          display: none;
        }
      }
      .dropdown-menu{
        background-color:#f9f9f9; 
        transform: translate3d(-53px, 31px, 0px)!important;
        border: none;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        .shape{
          &::before{
            position: absolute;
            top: -10px;
            left: 45%;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid#f9f9f9;
            
            
            content: "";
          }
          
          
          
        }
    
        .dropdown-item{
          border-bottom: 1px solid #dddddd33;
          &:last-child{
            border-bottom: 0px solid transparent;
          }
          &:hover,&:focus{
            background-color:#f9f9f9;  
          }
        } 
      }  
      
    }
  }
}

/*----------------------- Preloader -----------------------*/
body.preloader-site {
  overflow: hidden;
}

.preloader-wrapper {
  height: 100%;
  width: 100%;
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.preloader-wrapper .preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index:999;
}
.header-menu-wrap{
  justify-content: center;
  
  @media screen and (min-width:768px)
  {
    display: flex;
    justify-content: space-between;
  }

  //----other page menu  fix
  ul.menu-ul{
    width: 100%;
    @media screen and (min-width:768px){
      width: 30%;
    }
    
    
  }
  // other header
  .header-feature-img{
    width: 70%;
    margin-top: 50px;
    height: calc(100vh - 170px);
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar { 
      display: none;
    }
    .row{
      display: none;
      // height: 189px;
      @media screen and (min-width:768px){
        display: flex;
        height: 189px;
      }
    }
    .feature-col{
      margin-bottom: 30px;
      
      // width: 40px;
      // @media screen and (min-width:992px){
      //   width: 60px;
      // }
      .feature-img{
        position: relative;
        overflow: hidden;
    
        img{
          &:hover{
            transform: scale(1.5);
          }
        }
        .caption{
          position: absolute;
          top: 0px;
          background: #3f3f3f73;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: end;
          align-items: flex-end;
          transition: all .8s ease;
          &:hover{
            background: #1f1e1eab;
            transition: all .8s ease;
            p{
              padding-left: 20px;
              transition: all .8s ease;
              color:#FFCC00;
            }
            
          }
          p{
            padding:10px;
            margin-bottom: 0px;
            color:#FFF;
            transition: all .8s ease;
            font-weight: 600;
          }
        }
      }
    }
  }
}
.dropdown{
  .dropdown-toggle{
    transform: translateY(-7px);
    position: relative;
    i{
      
      position: absolute;
      top: 4px;
      right: 3px;
    }
    &::after{
      display: none;
    }
  }
  .dropdown-menu{
    background-color: #262526ad;
    transform: translate3d(-53px, 31px, 0px)!important;
    .shape{
      &::before{
        position: absolute;
        top: -10px;
        left: 45%;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #262526ad;
        
        content: "";
      }
      
      
      
    }

    .dropdown-item{
      border-bottom: 1px solid #dddddd33;
      &:last-child{
        border-bottom: 0px solid transparent;
      }
      &:hover,&:focus{
        background-color:transparent;  
      }
    } 
  }  
  
}
// .mb-servies-menu #main {
//   text-align: left;
//   a{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     @media screen and (min-width:768px){
//       justify-content:unset;   
//       i{
//         padding-left: 10px;
//         display: none;
//       } 
//     }
//   }
  
// }
.mb-servies-menu{
  .update-mb-menu{
    justify-content: space-between;
    align-items: center;
    i{
      @media screen and (min-width:768px){
        display: none;
      }
    }
  }
}
#mySidenav {
  width: 100%;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  left: -100%;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
  background:#070605;
  z-index: 999;
  &.active {
    opacity: 1;
    left: 0;
    visibility: visible;
  }
  .mb-menu-link{
    
    .sec-mb-menu{
      margin-bottom: 20px;
      i{
        margin-right: 40px;  
      }
      a {
        
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color:#f8f9fa;
        display: block;
        transition: all .5s ease-in-out;
        font-family: 'Barlow', sans-serif;
        @media screen and (min-width:768px){
          font-size: 24px;
        }
        &:hover  {
          color :#FFCC00;
        }
      }
      &:hover{
        a{
          color :#FFCC00;
        }
        
      }
    }
  }
}