.home-firsection {
  height: 100%;
  position: relative;

  .firstsec-slider {
    .slick-prev {
      z-index: 1;
      background-image: url("../../assets/images/icons/next1.svg");
      background-repeat: no-repeat;
      transform: rotate(90deg);
      background-size: 20px;
      top: initial;
      bottom: 43px;
      left: 40.5%;
      @media screen and (min-width: 768px) {
        left: 45%;
      }

      @media screen and (min-width: 992px) {
        left: 47.5%;
      }

      &:before {
        content: "";
        display: block;
        transform: rotate(90deg);
        width: 75px;
        height: 2px;
        background: rgba($white, .48);
        position: absolute;
        bottom: -47px;
        left: -27px;
        opacity: 1;
      }
    }

    .slick-next {
      z-index: 1;
      background-image: url("../../assets/images/icons/next1.svg");
      background-repeat: no-repeat;
      transform: rotate(-90deg);
      background-size: 20px;
      top: initial;
      bottom: 43px;
      right: 40.5%;
      @media screen and (min-width: 768px) {
        right: 45%;
      }

      @media screen and (min-width: 992px) {
        right: 47.5%;
      }

      &:before {
        content: "";
        display: block;
        transform: rotate(90deg);
        width: 75px;
        height: 2px;
        background: rgba($white, .48);
        position: absolute;
        bottom: -47px;
        left: -27px;
        opacity: 1;
      }
    }

    .first-sec {

      .firstsec-img {
        position: relative;
        .overlay{
          background: linear-gradient(rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .5) 100%);
        }
        .img-desk{
          display: none;
          @media screen and (min-width:768px){
            display:flex;
          }
        }
        .img-mb{
          @media screen and (min-width:768px){
            display: none;
          }
        }

        img {
          width: 100%;
        }
      }

      .slide-desc-wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px 5px 60px 5px;
        display: flex;
        justify-content: center;
        background: rgba($secondary-color, .5);
        

        @media screen and (min-width: 992px) {
          padding: 40px;
          padding-bottom: 70px;
        }

        .slide-desc {
          h2,
          p {
            color: $white;
            text-align: center;
          }

        }
      }
    }
  }
}