.home-section-slider {
  .highlight-item {
    .hightlight-wrap {
      position: relative;

      img {
        &.mb-img {
          display: block;
          width: 100%;
        }

        &.dsk-img {
          display: none;
        }
      }

      .hightlight-text {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background: linear-gradient(
          rgba(0, 0, 0, 0.73) 0%,
          rgba(0, 0, 0, 0.22) 50%,
          rgba(0, 0, 0, 0.73) 100%
        );

        .text-wrap {
          text-align: center;
          width: 100%;

          ul {
            padding-left: 0;
            list-style: none;
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            width: 100%;
            transition: all 0.5s ease-in-out;

            @media screen and (min-width: 1200px) {
              width: 200%;
              justify-content: initial;
            }
          }
        }

        .highlight-title {
          color: white;
          font-size: 24px;
          font-weight: 500;
          &.mb-label {
            display: none;
          }
        }
      }
      &:focus,
      &:active,
      &:visited {
        outline: 0;
      }
    }
    .slick-prev {
      left: 0px;
      z-index: 1;
      background: rgba(0, 0, 0, 0.6);
      width: 35px;
      height: 50px;
      @media screen and (min-width: 992px) {
        width: 50px;
      }
      &::before {
        opacity: 1;
        background-image: url("../assets/images/icons/back_new.svg");
        width: 50px;
        height: 50px;
        color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    .slick-next {
      right: 0px;
      z-index: 1;
      background: rgba(0, 0, 0, 0.6);
      width: 35px;
      height: 50px;
      @media screen and (min-width: 992px) {
        width: 50px;
      }
      &::before {
        opacity: 1;
        background-image: url("../assets/images/icons/next_new.svg");
        width: 50px;
        height: 50px;
        color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        // opacity: 1;
        // content: "\f105";
        // font-family: "Font Awesome 5 Free";
        // font-weight: 900;
        // font-size:30px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    position: relative;

    .highlight-item {
      .hightlight-wrap {
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        position: relative;

        img {
          transition: all 0.5s ease-in-out;

          &.mb-img {
            display: none;
          }

          &.dsk-img {
            display: block;
          }

          &.hightlight-img {
            width: 100%;
            max-width: unset !important;
            transition: all 0.5s ease-in-out;
          }
        }

        .text-wrap {
          ul {
            display: flex;
            width: 200%;
            transition: all 0.5s ease-in-out;

            li {
              display: inline-block;
              width: 50%;

              &.highlight-title {
                // transform: translate3d(0, 0, 0);
                transition: all 0.5s ease-in-out;

                &.mb-label {
                  display: block;
                }
              }
            }
          }
        }

        &:hover {
          img {
            &.hightlight-img {
              transform: scale(1.1);
            }
          }

          .hightlight-text {
            .text-wrap {
              ul {
                transform: translateX(-50%);

                li {
                  &.highlight-title {
                    color: $white;
                    transition: all 0.5s ease-in-out;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
