.modal {
  .cu-modal {
    position: relative;

    .modal-content {
      border-radius: .1rem;
      .modal-body {
        padding: 0;
      }
    }

    .modal-slide-thumbnail {
      bottom: initial;
      margin-right: initial;
      margin-left: initial;
      li {
        text-indent: 0;
        width: 110px;
        height: auto;
        margin-left: 5px;
        margin-right: 5px;

        img {
          width: 100%;
        }
      }
    }
  }

  &.fade {
    background: rgba($secondary-color, .8);
    z-index: 9999;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: auto;
    z-index: 1;
    padding: 20px;
    background: $secondary-color;
    opacity: 1;
    transition: $transition;

    &:focus,
    &:active,
    &:visited {
      outline: 0;
    }

    &:before,
    &:after {
      content: ' ';
      position: absolute;
      top: 7px;
      right: 18px;
      height: 23px;
      width: 2px;
      background-color: $white;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}