section {
  &.ourhistory-section {
    padding-top: 30px;
    border-top: 1px solid #EEEEEE;
    overflow-x: hidden;
    h5 {
      &.historytitle {
        margin-bottom: 50px;
      }
    }

    .history-wrap {
      display: flex;
      align-items: center;

      ul {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        margin: 0 auto;
        position: relative;
        &:after {
          content: ' ';
          display: inline-block;
          height: 100%;
          width: 1px;
          border-left: 1px dashed #b9b9b9;
          position: absolute;
          left: 0%;
          top: 0;
          @media screen and (min-width:992px){
            left: 50%;
          }
        }
        li {
          display: flex;
          align-items: center;
          padding: 20px 0;
          padding-left: 30px!important;
          position: relative;
          // onhover update
          

          &:nth-child(odd) {
            @media screen and (min-width:992px){
              padding-left: 5rem!important;
            }
            .content-list {
              .content-box {
                padding-top: 15px;
                padding-left:15px!important;
                
                &:last-child {
                  .content {
                    margin-bottom: 0;
                  }
                }
              }
            }
          }

          &:nth-child(even) {
            @media screen and (min-width:992px){
              padding-right: 5rem!important;
            }
            padding-right: 30px;
            // border-left: 1px dashed #b9b9b9;
            transform: translate3d(0px, 1px, 0);

            @media screen and (min-width: 992px) {
              // border-right: 1px dashed #b9b9b9;
              border-left: none;
            }

            @media screen and (max-width: 991px) {
              flex-direction: row-reverse;
              padding-right: 0;
              padding-left: 5rem;
            }
            .content-list {
              position: relative;
              border-bottom: 1px solid #999;
              // padding-bottom: 15px;
              padding-right: 20px;
              &:before {
                content: ' ';
                display: inline-block;
                width: 1px;
                height: calc(100% - 50px);
                background: #999;
                position: absolute;
                left: 0px;
                bottom: 0;
                @media screen and (min-width:992px){
                  right:0px;
                  left:unset;
                }
              }
              &:after {
                content: ' ';
                display: inline-block;
                width: 25px;
                height: 1px;
                background: #999;
                position: absolute;
                left: -25px;
                top: 50px;
                @media screen and (min-width:992px){
                  right: -76px;
                  width: 76px;
                  left: unset;
                }
              }
              .circle {
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                border: 1px solid #999;
                left: -35px;
                top: 45px;
                @media screen and (min-width:992px){
                  right:-86px;
                  left:unset;
                }
                
              }
            }
            .content-box{
              display: flex;
              position: relative;
              padding: 15px 15px;
              flex-direction: row-reverse;
              @media screen and (min-width:992px){
                flex-direction: row;
              }
              
              &:hover{
                &:nth-child(even){
                  .content{
                    span{
                      // transform: translateY(-10px);
                      transition: all ease-in-out .8s;
                      display: block;
                    }
                    &:before{
                      background: #FFFFFF;
                      transition: all ease-in-out .8s;
                    }
                  }
                  .year{
                    
                    .onhover{
                      .hover-bg{
                        width: 51px;
                        height: 51px;
                        opacity: 1;
                        transform: translate(6px, 2px);
                      }
                    }
                    span{
                      transform: translate(6px,2px);
                      transition: all ease-in-out .5s;
                    }
                    
                    
                  }
                }
                &:nth-child(odd){
                  .content{
                    span{
                      // transform: translateY(-10px);
                      // transition: all ease-in-out .8s;
                      display: block;
                    }
                    &:before{
                      background: #FFCC00;
                      transition: all ease-in-out .8s;
                    }
                  }
                  .year{
                    .onhover{
                      .hover-bg{
                        width: 51px;
                        height: 51px;
                        opacity: 1;
                        transform: translate(6px,2px);
                        transition: all ease-in-out .5s;
                      }
                    }
                    span{
                      transform: translate(6px,2px);
                      transition: all ease-in-out .5s;
                    }
                    
                  }
                }
              }
              &:not(:last-child):after {
                content: ' ';
                display: inline-block;
                position: absolute;
                width: calc(100% + 20px);
                height: 1px;
                background: #999;
                right: 0;
                bottom: 0;
                transform: translateX(20px);
              }
            }

            .year {
              margin-right: 0;

              @media screen and (max-width: 991px) {
                margin-right: 15px;
              }
              
              // &:before,
              // &:after {
              //   content: '';
              //   position: absolute;
              //   bottom: 15px;
              //   right: -279px;
              // }

              // &:before {
              //   height: 80%;
              //   border-left: 1px solid $primary-color;

              //   @media screen and (max-width: 991px) {
              //     right: initial;
              //     left: -28px;
              //     z-index: 9;
              //   }
              // }

              // &:after {
              //   width: 320px;
              //   border-bottom: 1px solid $primary-color;

              //   @media screen and (min-width: 768px) {
              //     width: 350px;
              //   }

              //   @media screen and (max-width: 991px) {
              //     right: initial;
              //     left: -28px;
              //     z-index: 9;
              //   }
              // }
                            
              span{
                position: absolute;
              }
            }

            .content {
              width: 80%;
              padding-bottom: 20px;
              span{
                transition: all ease-in-out .5s;
              }
              
              @media screen and (min-width:992px){
                padding-bottom:0px;
              }

              // &:before,
              // &:after {
              //   content: '';
              //   position: absolute;
              //   top: 0px;
              //   bottom: 168px;
              //   margin: auto;
              // }

              // &:before {
              //   right: -8px;
              //   width: 15px;
              //   height: 15px;
              //   background: $white;
              //   border: 2px solid $primary-color;
              //   border-radius: 50%;

              //   @media screen and (max-width: 991px) {
              //     right: initial;
              //     left: -8px;
              //     z-index: 9;
              //   }
              // }

              // &:after {
              //   right: 10px;
              //   width: 45px;
              //   height: 1px;
              //   background: $primary-color;

              //   @media screen and (max-width: 991px) {
              //     right: initial;
              //     left: 8px;
              //     z-index: 9;
              //   }
              // }
            }
          }

          &:nth-child(odd) {
            padding-left: 5rem;
            // border-left: 1px dashed #737373;
            flex-direction: row-reverse;

            @media screen and (min-width: 992px) {
              transform: translateX(100%);
            }
            .content-list {
              position: relative;
              border-bottom: 1px solid #999;
              padding-bottom: 15px;
              @media screen and (min-width:992px){
                padding-left: 20px;
              }
              
              &:before {
                content: ' ';
                display: inline-block;
                width: 1px;
                height: calc(100% - 50px);
                background: #999;
                position: absolute;
                left: 0px;
                bottom: 0;
              }
              &:after {
                content: ' ';
                display: inline-block;
                width: 25px;
                height: 1px;
                background: #999;
                position: absolute;
                left: -25px;
                top: 50px;
                @media screen and (min-width:992px){
                  width: 76px;
                  left: -76px;
                }
              }
              .circle {
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                border: 1px solid #999;
                left: -35px;
                top: 45px;
                @media screen and (min-width:992px){
                  left: -84px;
                }
              }
              
              .content-box{
                display: flex;
                flex-direction: row-reverse;
                position: relative;
                &:not(:last-child){
                  .year{
                    // transform: translateY(-20px);
                    @media screen and (min-width:992px){
                      transform: translateY(0px);
                    }
                    
                  }
                }
                
                &:not(:last-child):after {
                  content: ' ';
                  display: inline-block;
                  position: absolute;
                  width: calc(100% + 20px);
                  height: 1px;
                  background: #999;
                  right: -21px;
                  bottom: 0;
                  @media screen and (min-width:992px){
                    right: 0px;
                  }
                  
                }
                &:hover{
                  &:nth-child(even){
                    .content{
                      span{
                        // transform: translateY(-10px);
                        transition: all ease-in-out .8s;
                        display: block;
                      }
                      &:before{
                        background: #FFCC00;
                        transition: all ease-in-out .8s;
                      }
                    }
                    .year{
                      .onhover{
                        .hover-bg{
                          width: 51px;
                          height: 51px;
                          opacity: 1;
                          transform: translate(6px,2px);
                        }
                      }
                      span{
                        transform: translate(6px,2px);
                        transition: all ease-in-out .5s;
                      }
                      
                    }
                  }
                  &:nth-child(odd){
                    .content{
                      span{
                        // transform: translateY(-10px);
                        // transition: all ease-in-out .8s;
                        display: block;
                      }
                      &:before{
                        background: #FFCC00;
                        transition: all ease-in-out .8s;
                      }
                    }
                    .year{
                      .onhover{
                        .hover-bg{
                          width:51px;
                          height: 51px;
                          opacity: 1;
                          transform: translate(6px,2px);
                          transition: all ease-in-out .5s;
                        }
                      }
                      span{
                        transform: translate(6px,2px);
                        transition: all ease-in-out .5s;
                      }
                      
                    }
                  }
                }
              }
            }

            .year {
              margin-right: 15px;

              // &:before,
              // &:after {
              //   content: '';
              //   position: absolute;
              //   bottom: -20px;
              //   left: -28px;
              // }

              // &:before {
              //   height: 80%;
              //   border-left: 1px solid $primary-color;
              // }

              // &:after {
              //   width: 320px;
              //   border-bottom: 1px solid $primary-color;

              //   @media screen and (min-width: 768px) {
              //     width: 350px;
              //   }
              // }
                            
              span{
                position: absolute;
              }
            }

            .content {
              width: 80%;
              margin-bottom: 20px;
              span{
                transition: all ease-in-out .5s;
              }

              // &:before,
              // &:after {
              //   content: '';
              //   position: absolute;
              //   top: -30px;
              //   bottom: 0;
              //   margin: auto;
              // }

              // &:before {
              //   left: -8px;
              //   width: 15px;
              //   height: 15px;
              //   background: $white;
              //   border: 2px solid $primary-color;
              //   border-radius: 50%;

              // }

              // &:after {
              //   left: 8px;
              //   width: 45px;
              //   height: 1px;
              //   background: $primary-color;
              // }
            }
          }

          &:first-child {
            position: relative;

            &:before {
              content: '';
              width: 100%;
              position: absolute;
              top: 0;
              left: -100%;
              border-top: 1px dashed #b9b9b9;
            }
          }

          &:last-child {
            position: relative;

            &:before {
              content: '';
              width: 100%;
              position: absolute;
              bottom: 0;
              left: -100%;
              border-top: 1px dashed #b9b9b9;

              @media screen and (min-width: 992px) {
                left: initial;
                right: 0%;
              }
              .content-list{
                width: 80%;
              }
            }
          }

          .year {
            position: relative;
            width: 70px;
            height: 70px;            
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            .onhover{              
              
              width: 70px;
              height: 70px;
              border: 2px solid $primary-color;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: bold;
              
              background: #00000059;
              
              .hover-bg{
                width: 100%;
                height: 100%;
                background: #FFCC00;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(0px);
                transition: all ease-in-out .5s;
                opacity: 0;
              }
              
            }
            span{
                color: #FFFFFF;
            }
          }

          .content {
            font-weight: bold;
          }
        }
      }
    }
  }
}
