section {
  &.ourhistory-section {
    padding-top: 30px;
    border-top: 1px solid #EEEEEE;
    overflow-x: hidden;
    h5 {
      &.historytitle {
        margin-bottom: 50px;
      }
    }

    .history-wrap {
      display: flex;
      align-items: center;

      ul {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        margin: 0 auto;
        position: relative;
        &:after {
          content: ' ';
          display: inline-block;
          height: 100%;
          width: 1px;
          border-left: 1px dashed #b9b9b9;
          position: absolute;
          left: 0%;
          top: 0;
          @media screen and (min-width:992px){
            left: 50%;
          }
        }
        li {
          display: flex;
          align-items: center;
          padding: 20px 0;
          padding-bottom: 3rem;
          position: relative;
          // onhover update
          &:hover{
            &:nth-child(even){
              .content{
                span{
                  transform: translateY(-10px);
                  transition: all ease-in-out .8s;
                  display: block;
                }
                &:before{
                  background: #FFCC00;
                  transition: all ease-in-out .8s;
                }
              }
              .year{
                .onhover{
                  .hover-bg{
                    transform: translateY(0px);
                  }
                }
                
                
              }
            }
            &:nth-child(odd){
              .content{
                
                
                span{
                  transform: translateY(-10px);
                  transition: all ease-in-out .8s;
                  display: block;
                }
                &:before{
                  background: #FFCC00;
                  transition: all ease-in-out .8s;
                }
              }
              .year{
                .onhover{
                  .hover-bg{
                    transform: translateY(0px);
                    transition: all ease-in-out .8s;
                  }
                }
                
                
              }
            }
          }

          

          &:nth-child(even) {
            padding-right: 5rem;
            // border-left: 1px dashed #b9b9b9;
            transform: translate3d(0px, 1px, 0);

            @media screen and (min-width: 992px) {
              // border-right: 1px dashed #b9b9b9;
              border-left: none;
            }

            @media screen and (max-width: 991px) {
              flex-direction: row-reverse;
              padding-right: 0;
              padding-left: 5rem;
            }

            .year {
              margin-right: 0;

              @media screen and (max-width: 991px) {
                margin-right: 15px;
              }

              &:before,
              &:after {
                content: '';
                position: absolute;
                bottom: -20px;
                right: -28px;
              }

              &:before {
                height: 80%;
                border-left: 1px solid $primary-color;

                @media screen and (max-width: 991px) {
                  right: initial;
                  left: -28px;
                  z-index: 9;
                }
              }

              &:after {
                width: 320px;
                border-bottom: 1px solid $primary-color;

                @media screen and (min-width: 768px) {
                  width: 350px;
                }

                @media screen and (max-width: 991px) {
                  right: initial;
                  left: -28px;
                  z-index: 9;
                }
              }
                            
              span{
                position: absolute;
              }
            }

            .content {
              width: 80%;
              padding-bottom: 20px;
              span{
                transition: all ease-in-out .5s;
              }
              
              @media screen and (min-width:992px){
                padding-bottom:0px;
              }

              &:before,
              &:after {
                content: '';
                position: absolute;
                top: -30px;
                bottom: 0;
                margin: auto;
              }

              &:before {
                right: -8px;
                width: 15px;
                height: 15px;
                background: $white;
                border: 2px solid $primary-color;
                border-radius: 50%;

                @media screen and (max-width: 991px) {
                  right: initial;
                  left: -8px;
                  z-index: 9;
                }
              }

              &:after {
                right: 10px;
                width: 45px;
                height: 1px;
                background: $primary-color;

                @media screen and (max-width: 991px) {
                  right: initial;
                  left: 8px;
                  z-index: 9;
                }
              }
            }
          }

          &:nth-child(odd) {
            padding-left: 5rem;
            // border-left: 1px dashed #737373;
            flex-direction: row-reverse;

            @media screen and (min-width: 992px) {
              transform: translateX(100%);
            }

            .year {
              margin-right: 15px;

              &:before,
              &:after {
                content: '';
                position: absolute;
                bottom: -20px;
                left: -28px;
              }

              &:before {
                height: 80%;
                border-left: 1px solid $primary-color;
              }

              &:after {
                width: 320px;
                border-bottom: 1px solid $primary-color;

                @media screen and (min-width: 768px) {
                  width: 350px;
                }
              }
                            
              span{
                position: absolute;
              }
            }

            .content {
              width: 80%;
              margin-bottom: 20px;
              span{
                transition: all ease-in-out .5s;
              }

              &:before,
              &:after {
                content: '';
                position: absolute;
                top: -30px;
                bottom: 0;
                margin: auto;
              }

              &:before {
                left: -8px;
                width: 15px;
                height: 15px;
                background: $white;
                border: 2px solid $primary-color;
                border-radius: 50%;

              }

              &:after {
                left: 8px;
                width: 45px;
                height: 1px;
                background: $primary-color;
              }
            }
          }

          &:first-child {
            position: relative;

            &:before {
              content: '';
              width: 100%;
              position: absolute;
              top: 0;
              left: -100%;
              border-top: 1px dashed #b9b9b9;
            }
          }

          &:last-child {
            position: relative;

            &:before {
              content: '';
              width: 100%;
              position: absolute;
              bottom: 0;
              left: -100%;
              border-top: 1px dashed #b9b9b9;

              @media screen and (min-width: 992px) {
                left: initial;
                right: -100%;
              }
            }
          }

          .year {
            position: relative;
            width: 70px;
            height: 70px;            
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            .onhover{              
              
              width: 70px;
              height: 70px;
              border: 2px solid $primary-color;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: bold;
              overflow: hidden;
              .hover-bg{
                width: 70px;
                height: 70px;
                background: $primary-color;
                border-radius: 10%;
                display: flex;
                align-items: center;
                justify-content: center;
                transform:translateY(70px) ;
                transition: all ease-in-out .8s;
                
              }
              
            }
          }

          .content {
            font-weight: bold;
          }
        }
      }
    }
  }
}
