.ourclient {
  padding-top: 80px;
  margin-bottom: 100px;
  border-top: 1px solid #EEEEEE;

  .client-slide-wrap {
    margin-top: 40px;

    .column-img {
      display: flex !important;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 3.5rem;
      cursor: pointer;

      img {
        width: 150px;
        transform: scale(1);
        transition: $transition;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }

  }

  .client-slide-wrap {
    .slick-dots {
      bottom: -50px;

      li {
        button {

          &::before {
            font-size: 40px;
            content: '';
            border-radius: 29px;
            border: 1px solid $footer-txt;
            width: 15px;
            height: 15px;
            opacity: 1;
          }
        }
      }

      li.slick-active {
        button {
          &::before {
            font-size: 40px;
            content: '';
            border-radius: 29px;
            background: $footer-txt;
            width: 15px;
            height: 15px;
            opacity: 1;
          }
        }
      }
    }

    .slick-track {
      .slick-slide {
        outline: 0px;

        div {
          outline: 0px;
        }
      }
    }
  }








}