section {
  &.service-section {
    background:#FFFFFF;

    .sub-header {
      margin-bottom: 20px;
    }

    .pagedesc {
      margin-bottom: 40px;

      @media screen and (min-width: 768px) {
        margin-bottom: 80px;
      }
    }

    .service-card {
      .service-carousel {
        z-index: 1;
        position: relative;

      }
      .card-title-link{
        color: #333;
        &:hover{
          text-decoration: none;
          color: #fecc02;
        }
      }

      .card-title {
        font-size: 18px;
        text-align: center;
        position: relative;
        @media screen and (min-width:768px){
          font-size: 14px;
        }
        
        @media screen and (min-width:1200px){
          font-size:18px;
        }
        i{
          position: absolute;
          top: 2px;
          right: 0px;
        }
        
      }
    }

    .card-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100% - 60px);
      background: transparent;
      z-index: 9;
    }
    .pagination_btn{
      
      position: relative;
      .btn-search{
        position: absolute;
        top: 0px;
        right: 0px;
        margin: 0px;
        

      }
      .pagination-section{
        .pagination{
          display: flex;
          justify-content: left;
          @media screen and (min-width:768px){
            
            justify-content: center;
          }
          .page-item{
            .page-link{
              &:focus{
                box-shadow: 0 0 0 0.2rem transparent;
              }
            }
          }
          li{
            a{
              background: #EEEEEE;
              color: #333;
              border:1px solid #EEEEEE;
              border-radius: none;
              border-radius: 0px;
            }
            &.active{
              a{
                background: #333;
                border:1px solid #333;
                color: #FFFFFF;
  
              }
            }
          }
        }
        
      }
      button{
        padding:8px 35px!important;
      }
    }
    
  }
}
.services-search{
  background: #F3F3F3;
  &.search-section-update{
    padding-top: 18px!important;
    padding-bottom: 18px!important; 
    @media screen and (min-width:768px){
      padding-top: 10px !important;
      padding-bottom: 2px !important;
    }
  }
  .search-section{
    @media screen and (min-width:768px){
      display: flex;
    }
    
    .custom-select-form{
      display: inline-block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: .375rem 1.75rem .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #707070;
      vertical-align: middle;
      border: 1px solid transparent;
      margin: 0px;
      outline: none;
      font-weight: 600;
      margin-bottom: 10px;
      @media screen and (min-width:768px){
        margin: 4px 10px 12px 3px;
      }
    }
    button{
      width: 50%;
      padding: 6.5px 40px;
      border-radius: 0px;
      margin: 0;
      @media screen and (min-width:768px){
        width: 23%;
        padding: 6px 31px;
        border-radius: 0px;
        margin: 4px 0px 12px 8px;
        
      }
      

    }
  }
  
}
.service-map{
  padding-top: 0px;
  margin-bottom: 50px;
  //......
  
  //......
  @media screen and (min-width:768px){
    margin-bottom: 0px;
  }
  .map-width{
    width: 100%;
    height: 700px;
  }
}
.service-wrapper-margin{
  margin-top: 80px;
}
