$primary-color: #FFCC00;
$secondary-color: #000000;
$text-color: #707070;
$third-color:#FFF;
$white: #FFFFFF;
$footer-txt: #B9B9B9;
$transition: all .3s ease-in-out;
$text-shadow: 0px 2px 3px rgba(0,0,0,0.4);
$box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);


// fonts-family
$fonts : (
  CG-Font: '../assets/webfonts/Century-Gothic-400.ttf'
);

@each $key in map-keys($fonts) {
  @font-face {
    font-family: $key;
    src: url(map-get($fonts, $key));
  }
}
