doctype html
html(lang='en')
	include ./components/_head.pug
	body
		main
			include ./components/_other-header.pug
			include ./components/_branchandmap.pug
			include ./components/_ourstory.pug
			include ./components/_ourhistory.pug
			include ./components/_ourclients.pug
			include ./components/_footer.pug