doctype html
html(lang='en')
	include ./components/_head.pug
	body
		main
			include ./components/_other-header.pug
			section.career-detail.career-page 
				.container
					h5.title Sales & Marketing Executive 
					.date-type 
						ul.type 
							li 
								strong.type-label.bold Date 
								span 01/07/2020
							li 
								strong.type-label.bold Department 
								span Depatment Name
							li 
								strong.type-label.bold Type 
								span Contract
							
					.job-description 
						h5.title Job Description 
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						ul 
							li Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							li Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							li Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							li Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							li Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
					.job-description 
						h5.title Job Requirement
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						ul 
							li Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							li Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							li Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							li Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							li Lorem Ipsum is simply dummy text of the printing and typesetting industry.  
					.job-form
						h5.title Job Application
						.detail-form
							form
								.form-group
									label.label(for='inputdefault') Name  
									span.star *
									input#inputdefault.form-control(type='text' required)
								.form-group
									label(for='inputdefault1') Phone
									span.star *
									input#inputdefault1.form-control(type='text' required)
								.form-group
									label(for='inputdefault2') Email
									span.star *
									input#inputdefault2.form-control(type='email' required)
								.form-group
									label.label(for='inputdefault') Apply Position  
									span.star *
									input#inputdefault.form-control(type='text' )
								.form-group 
									label.label Attached File
									.attachment
										.upload-file                    
											img(src="./assets/images/uploads/attach.svg", alt="")
										input#myfile(type="file" name="filename")
										.showfile
											span.filedata
								.sharelink-wrap 
									#shareBlock.sharelink
									.form-button.careerBtn
										button.submit-btn.btn.upper(type="submit") apply
										button.submit-btn.btn.upper.shareBtn(type="button") Share 
			include ./components/_footer.pug                
									