doctype html
html(lang='en')
	include ./components/_head.pug
	body
		main
			include ./components/_other-header.pug
			//- section.ourwork_detail_banner
			//- 	.detail_banner_img 
			//- 		img.w-100(src='./assets/images/uploads/product_detail_banner.png' alt='Slide Image')
			include ./components/_contactus_banner.pug
			section.ourwork_detail 
				.container 
					.row 
						.col-lg-7 
							.title-border
								h5.bold Location Map
							.work_map
								include ./components/_map.pug
								a(href="#")
									p Along the Yangon International Airport Road, Between Terminal 1 & Terminal 2, Near Car Parking, Mingalardon Township
						.col-lg-5
							.title-border.detail_informatbion_order
								h5.bold Details
							.detail_information
								ul 
									li 
										strong Media Type :
										span Side Walk
									li 
										strong Media Code :
										span YIA-EXT-0017
									li 
										strong Traffic Moment :
										span Along the Airport Road
									li 
										strong Actual Width :
										span 10 ft
									li 
										strong Actual Height :
										span 20 ft
										
									li 
										strong City :
										span Mingalardon
									li.last-li 
										strong Divisio/State :
										span Yangon
									.detail-button
										.sharelink-wrap 
										#shareBlock.sharelink
										.form-button.careerBtn
											
											button.submit-btn.btn.upper.shareBtn(type="button") Share
											button.submit-btn.btn.upper(type="submit") apply 	




			include ./components/_footer.pug