doctype html
html(lang='en')
  include ./components/_head.pug
  body
    main
      include ./components/_other-header.pug
      section.service-section.service-wrapper-margin
        .container
          .row
            .col-12
              h3.sub-header.upper.pageheader What We Do
            .col-12.pagedesc
              | A leading provider of out-of-home advertising solutions in Myanmar for 25 years.
              br
              | The leader in premium media walls advertising in Yangon with extensive coverage across key environments.
              br
              | Exclusive rights for advertising at City Mall @ St. John, Hledan Center, Ocean Tarmwe, Airport Outdoor and other premium locations.
              br
              | Number one provider of nationwide campaigns, capable of delivering up to 100 sites outside Yangon.
              br
              | Over 100 Bus Shelter Network in Yangon
            include ./data/homedata.pug
            - for(let i=1; i<=serviceCard.length; i++)
              .col-md-4.mb-5
                .card.service-card(data-toggle="modal" data-target="#imageModal-" + i)
                  .card-overlay
                  .slide.service-carousel(data-interval="1000")
                    .carousel-inner
                      - for(let j=1; j<=serviceCard[i-1].count; j++)
                        if j == 1
                          .carousel-item.active
                            img.w-100(src='./assets/images/uploads/service_'+ i +'/Listing/'+ j +'.png' alt='Slide Image')
                        else
                          .carousel-item
                            img.w-100(src='./assets/images/uploads/service_'+ i +'/Listing/'+ j +'.png' alt='Slide Image')
                  a.card-title-link(href="product.html") 
                    .card-body.service-title
                      h4.card-title 
                        span #{serviceCard[i-1].label}
              .modal.fade(id="imageModal-" + i, tabindex='-1', role='dialog', aria-labelledby="imageModal-" + i, aria-hidden='true')
                .modal-dialog.modal-lg.modal-dialog-centered.cu-modal(role='document')
                  .modal-content
                    .modal-body
                      button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true')
                      .carousel.slide(id="imageCarousel-" + i, data-ride='carousel')
                        .carousel-inner
                          - for(let j=1; j<=serviceCard[i-1].count; j++)
                            if j == 1
                              .carousel-item.active
                                img.w-100(src='./assets/images/uploads/service_'+ i +'/'+ j +'.png' alt='Slide Image')
                            else
                              .carousel-item
                                img.w-100(src='./assets/images/uploads/service_'+ i +'/'+ j +'.png' alt='Slide Image')
                              
                        ol.carousel-indicators.modal-slide-thumbnail
                          - for(let k=1; k<=serviceCard[i-1].count; k++)
                            if k == 1
                              li.active(data-target='#imageCarousel-' + i, data-slide-to=k-1)
                                img.w-100(src='./assets/images/uploads/service_' + i + '/'+ k +'.png' alt='Slide Image')
                            else
                              li(data-target='#imageCarousel-' + i, data-slide-to=k-1)
                                img.w-100(src='./assets/images/uploads/service_' + i + '/'+ k +'.png' alt='Slide Image')
      
      include ./components/_footer.pug