include ../data/careerData.pug
section.career
  .container
    .row
      .col-12
        h3.sub-header.upper.pageheader Work With Us
      .col-12
        .career-content
          p Ganad is a state of mind. Bereft of the confines of conventional wisdom, we constantly strive to think new ideas, see new opportunities, start new trends and fine new methods.
          p Ganad is innovation where outdoor is concerned, rejecting the notion that what was effective in the past will continue to be so in the future. Ganad is the promise of bigger and better things to come, combining both the substance and style synonymous with the legacy of excellence that our name represents. Ganad is always eager for young blood to pump fresh life into the company. If you live and breathe outdoor like we do, we'd love to hear from you. 
          p Ganad is the promise of bigger and better things to come, combining both the substance and style synonymous with the legacy of excellence that our name represents.
          p Ganad is always eager for young blood to pump fresh life into the company. If you live and breathe outdoor like we do, we'd love to hear from you.
      - for(let i =0; i<careerData.length; i++)
        .col-12
          .career-list
            h5.title #{careerData[i].title}
            .ul-wrap
              ul
                li
                  label.bold Date
                  span.data #{careerData[i].date}
                li.dept
                  label.bold Department
                  span.data #{careerData[i].department}
                li
                  label.bold Type
                  span.data #{careerData[i].type} 
              a.cu-btn.btn(href=careerData[i].url) Read More
