//- section#homeSection-1.home-firsection.section-0.contactus-banner
//- 	.firstsec-slider  
//- 		.first-sec.mt-0
//- 			.firstsec-img
				
//- 				img.img-fluid.img-desk(src="./assets/images/uploads/Untitled-2.jpg", alt="")
//- 				img.img-fluid.img-mb(src="./assets/images/uploads/Untitled-2.jpg", alt="")
//- 				.slide-desc-wrap
//- 					.slide-desc
//- 						h2 YIA-EXT-0017
						
//- 		.first-sec.mt-0 
//- 			.firstsec-img
				
//- 				img.img-fluid.img-desk(src="./assets/images/uploads/product_detail_banner.png", alt="")
//- 				img.img-fluid.img-mb(src="./assets/images/uploads/product_detail_banner.png", alt="")
//- 				.slide-desc-wrap
//- 					.slide-desc
//- 						h2 YIA-EXT-0017

//- banner youtube video
section#homeSection-1.home-firsection.section-0.contactus-banner.banner-video
	.firstsec-slider  
		.first-sec.mt-0
			.firstsec-img
				
				iframe(width='100%', frameborder='0px', height='705px', src='https://www.youtube.com/embed/hl4cmSvms98' allowfullscreen)
				.slide-desc-wrap.you-tube-slide
					.slide-desc
						h2 YIA-EXT-0017
						
			
		