footer.footer
  .container
    .row
      .col-12.col-xl-2.mb-3
        a(href='index.html').footer-border
          .footer-contact-wrap.img-wrap
            img.footer-logo(src="./assets/images/icons/logo.png", alt="")
        span.upper Engage
      .col-12.col-xl-4
        .footer-border
          .footer-contact-wrap
            .contact-img
              img(src="./assets/images/icons/phone.svg", alt="")
            .footer-contact
              a(href="tel:+95 9 450 044 038") +95 9 450 044 038
              a(href="tel:+95 1 733 0142") +95 1 733 0142
          .footer-contact-wrap
            .contact-img
              img(src="./assets/images/icons/location.svg", alt="")
            .footer-contact
              p Myanmar Ganad Advertising Co., Ltd, No.37, Aung Chan Thar Road, Quarter 13, Yankin Township, Yangon, Myanmar 11081
      .col-12.col-xl-4
        .footer-border.third-col
          .footer-contact-wrap
            .contact-img
              img(src="./assets/images/icons/letter.svg", alt="")
            .footer-contact
              a(href="mailto:marketing@myanmarganad.com") marketing@myanmarganad.com
              
          .footer-contact-wrap
            .contact-img
              img(src="./assets/images/icons/facebook.svg", alt="")
            .footer-contact
              a(href="https://www.facebook.com/ganadOOH" , target="_blank") Follow us on Facebook
          .footer-contact-wrap
            .contact-img
              img(src="./assets/images/icons/instagram-sketched.svg", alt="")
            .footer-contact
              a(href="https://www.instagram.com" , target="_blank") Follow us on Instagram
          .footer-contact-wrap
            .contact-img
              img(src="./assets/images/icons/twitter.svg", alt="")
            .footer-contact
              a(href="https://www.twitter.com" , target="_blank") Follow us on Twitter
            
          
              
      .col-12.col-xl-2
        .footer-border.last
          .footer-contact-wrap
            .footer-contact
              p.copy-right-txt
                | Copyright © Ganad 2020.
                br
                br
                | Powered by 
                a.ml-0(href="https://innovixdigital.com/", target="_blank") Innovix Digital.
                
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
script(src="./plugin/plugin.min.js")
script(src="./js/script.js")

script(src='https://polyfill.io/v3/polyfill.min.js?features=default')
script(defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC5i0mt34lAKRc2J59PlC-M9T6TPyk817g&callback=InitMap')


<script src="https://kit.fontawesome.com/0fdd460947.js" crossorigin="anonymous"></script>
