head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	title Ganad
	link(rel="icon" href="./assets/images/uploads/favicon-logo.png")
	link(rel="stylesheet", href="./plugin/plugin.min.css")
	link(rel="stylesheet", href="./style/style.css")
	<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/animate.css">
	


