include ../data/homedata.pug
section.home-section-slider.section-0
  .highlight-item
    - for(let i =0; i<serviceData.length; i++)
      a.hightlight-wrap(href="product.html")
        img.hightlight-img.img-fluid.dsk-img(src=serviceData[i].image, alt="")
        img.hightlight-img.img-fluid.mb-img(src=serviceData[i].image_mb, alt="")
        .hightlight-text
          .text-wrap
            ul.text-wrap-ul
              li.highlight-title.first-name.upper.pageheader #{serviceData[i].label}
              li.highlight-title.hover-active.mb-label.upper.pageheader #{serviceData[i].label}
      