section.ourhistory-section
	.container
		.row
			.col-md-12
				h5.title.historytitle Our History
				.history-wrap
					ul
						- for(let i=0; i<3; i++)
							li.text-center.col-md-6.wow.fadeIn(data-wow-delay=".5s" data-wow-duration="1s" style="visibility: visible; animation-delay: 5s; animation-name: fadeIn;")
								.content
									span(style="display:block;") Upgraded Yangon's "Welcome to Myanmar" sign to a state of the art LED Billboard.
								.year
									
									.onhover
										.hover-bg

									span 2017
								
							li.text-center.col-md-6.wow.fadeIn(data-wow-delay=".5s" data-wow-duration="1s" style="visibility: visible; animation-delay: 5s; animation-name: fadeIn;")
								.content
									
									span(style="display:block;") Upgraded Yangon's "Welcome to Myanmar" sign to a state of the art LED Billboard.
								.year
									.onhover
										.hover-bg
									span 2017
						
						
					

		