section.ourhistory-section
	.container
		.row
			.col-md-12
				h5.title.historytitle Our History
				.history-wrap
					ul
						//- - for(let i=0; i<3; i++)
						li.text-center.col-lg-6.wow.fadeIn(data-wow-delay=".5s" data-wow-duration="1s" style="visibility: visible; animation-delay: 5s; animation-name: fadeIn;")
							div.content-list
								span.circle
								div.content-box
									.content
										span(style="display:block;") Pioneered digital screens in Malaysia
									.year(style="background-image: url('./assets/images/uploads/RuralCampaign.png');background-repeat: no-repeat, repeat;background-position: center;")
										.onhover
											.hover-bg
										span 2006
							
						li.text-center.col-lg-6.wow.fadeIn(data-wow-delay=".5s" data-wow-duration="1s" style="visibility: visible; animation-delay: 5s; animation-name: fadeIn;")
							 
							div.content-list
								span.circle
								div.content-box
									.content
										span(style="display:block;") Pioneered portrait-oriented billboards in Malaysia
									.year(style="background-image: url('./assets/images/uploads/RuralCampaign.png');background-repeat: no-repeat, repeat;background-position: center;")
										.onhover
											.hover-bg
										span 2003
							
								div.content-box 	
									.content
										span(style="display:block;") First to hold sole advertising rights to entire KTM Komuter network
									.year(style="background-image: url('./assets/images/uploads/RuralCampaign.png');background-repeat: no-repeat, repeat;background-position: center;")
										.onhover
											.hover-bg
										span 2003
						//- second row
						li.text-center.col-lg-6.wow.fadeIn(data-wow-delay=".5s" data-wow-duration="1s" style="visibility: visible; animation-delay: 5s; animation-name: fadeIn;")
							div.content-list
								span.circle
								div.content-box
									.content
										span(style="display:block;") Pioneered concrete foundation and structuring on billboards in Malaysia
									.year(style="background-image: url('./assets/images/uploads/RuralCampaign.png');background-repeat: no-repeat, repeat;background-position: center;")
										.onhover
											.hover-bg
										span 2001
							
								

							
						li.text-center.col-lg-6.wow.fadeIn(data-wow-delay=".5s" data-wow-duration="1s" style="visibility: visible; animation-delay: 5s; animation-name: fadeIn;")
							 
							div.content-list
								span.circle
								div.content-box
									.content
										span(style="display:block;") Pioneered metropanels in Malaysia
									.year(style="background-image: url('./assets/images/uploads/RuralCampaign.png');background-repeat: no-repeat, repeat;background-position: center;")
										.onhover
											.hover-bg
										span 2000
						//-- third row
						li.text-center.col-lg-6.wow.fadeIn(data-wow-delay=".5s" data-wow-duration="1s" style="visibility: visible; animation-delay: 5s; animation-name: fadeIn;")
							div.content-list
								span.circle
								div.content-box
									.content
										span(style="display:block;") First company of its kind to be listed on the Kuala Lumpur Stock Exchange
									.year(style="background-image: url('./assets/images/uploads/RuralCampaign.png');background-repeat: no-repeat, repeat;background-position: center;")
										.onhover
											.hover-bg
										span 1996
							
								

							
						li.text-center.col-lg-6.wow.fadeIn(data-wow-delay=".5s" data-wow-duration="1s" style="visibility: visible; animation-delay: 5s; animation-name: fadeIn;")
							 
							div.content-list
								span.circle
								div.content-box
									.content
										span(style="display:block;") Pioneered full neon billboards in Malaysia
									.year(style="background-image: url('./assets/images/uploads/RuralCampaign.png');background-repeat: no-repeat, repeat;background-position: center;")
										.onhover
											.hover-bg
										span 1944
						//--fourth row
						li.text-center.col-lg-6.wow.fadeIn(data-wow-delay=".5s" data-wow-duration="1s" style="visibility: visible; animation-delay: 5s; animation-name: fadeIn;")
							div.content-list
								span.circle
								div.content-box
									.content
										span(style="display:block;") Pioneered backlit billboards in Asia
									.year(style="background-image: url('./assets/images/uploads/RuralCampaign.png');background-repeat: no-repeat, repeat;background-position: center;")
										.onhover
											.hover-bg
										span 1990
							
								

							
						li.text-center.col-lg-6.wow.fadeIn(data-wow-delay=".5s" data-wow-duration="1s" style="visibility: visible; animation-delay: 5s; animation-name: fadeIn;")
							 
							div.content-list
								span.circle
								div.content-box
									.content
										span(style="display:block;") Pioneered full neon billboards in Malaysia
									.year(style="background-image: url('./assets/images/uploads/RuralCampaign.png');background-repeat: no-repeat, repeat;background-position: center;")
										.onhover
											.hover-bg
										span 1988
						//--fifth row 
						li.text-center.col-lg-6.wow.fadeIn(data-wow-delay=".5s" data-wow-duration="1s" style="visibility: visible; animation-delay: 5s; animation-name: fadeIn;")
							div.content-list
								span.circle
								div.content-box
									.content
										span(style="display:block;") Upgraded Yangon's "Welcome to Myanmar" sign to a state of the art LED Billboard.
									.year(style="background-image: url('./assets/images/uploads/RuralCampaign.png');background-repeat: no-repeat, repeat;background-position: center;")
										.onhover
											.hover-bg
										span 2018
							
								div.content-box 	
									.content
										span(style="display:block;") Upgraded Yangon's "Welcome to Myanmar" sign to a state of the art LED Billboard.
									.year(style="background-image: url('./assets/images/uploads/RuralCampaign.png');background-repeat: no-repeat, repeat;background-position: center;")
										.onhover
											.hover-bg
										span 2018
								div.content-box 	
									.content
										span(style="display:block;") Upgraded Yangon's "Welcome to Myanmar" sign to a state of the art LED Billboard.
									.year(style="background-image: url('./assets/images/uploads/RuralCampaign.png');background-repeat: no-repeat, repeat;background-position: center;")
										.onhover
											.hover-bg
										span 2018
							
								
								
						
						
						
					

		